#ID|  TYPE|TP|LT|WD|HT|UP|DW|LT|RT|TB|HK|FR|OTHER  |S|CAPTION|描述       |
 1 |BOX   |8 |23|30|7 |-1|-1|-1|-1|-1|  | 0|       | |       |           |
 2 |BOX   |10|25|26|3 |-1|-1|-1|-1|-1|  | 0|       | |       |           |
 3 |LABEL |9 |33|0 |0 |-1|-1|-1|-1|-1|  | 0|       | |系统监控|  |
#4 |LABEL |9 |27|0 |0 |-1|-1|-1|-1|-1|  | 0|       | |流程号:|           |
 5 |LABEL |11|29|0 |0 |-1|-1|-1|-1|-1|  | 0|       | |密码:  |           |
#6 |EDIT  |9 |34|10|1 |-1| 7|-1|-1| 7|  | 0|NUMERIC| |       |流程号输入框 |
 7 |EDIT  |11|34|12|1 |-1| 8|-1|-1| 8|  | 0|PASSWD | |       |密码输入框 |
 8 |BUTTON|13|26|6 |1 | 7|-1|-1| 9| 9|  | 0|       | |确认   |确认按钮   |
 9 |BUTTON|13|33|6 |1 | 7|-1| 8|10|10|  | 0|       | |退出   |退出按钮   |
10 |BUTTON|13|41|8 |1 | 7|-1| 9|-1| 7|  | 0|       | |修改密码|改密码按钮|
