#ID|  TYPE|TP|LT|WD|HT|UP|DW|LT|RT|TB|HK|FR|OTHER  |S|CAPTION|描述   |
 1 |BOX   |8 |23|30|9 |-1|-1|-1|-1|-1|  | 0|       | |       |       |
 2 |BOX   |10|25|26|5 |-1|-1|-1|-1|-1|  | 0|       | |       |       |
 3 |LABEL |9 |32|0 |0 |-1|-1|-1|-1|-1|  | 0|       | |修改密码|      |
 4 |LABEL |11|28|0 |0 |-1|-1|-1|-1|-1|  | 0|       | |原密码:  |     |
 5 |LABEL |12|28|0 |0 |-1|-1|-1|-1|-1|  | 0|       | |新密码:  |     |
 6 |LABEL |13|28|0 |0 |-1|-1|-1|-1|-1|  | 0|       | |新密码:  |     |
 7 |EDIT  |11|36|12|1 |-1| 8|-1|-1| 8|  | 0|PASSWD | |       |原密码输入框|
 8 |EDIT  |12|36|12|1 | 7| 9|-1|-1| 9|  | 0|PASSWD | |       |新密码输入框|
 9 |EDIT  |13|36|12|1 | 8|10|-1|-1|10|  | 0|PASSWD | |       |确认新密码输入框|
 10|BUTTON|15|30|6 |1 | 9|-1|-1|11|11|  | 0|       | |确认   |确认按钮|
 11|BUTTON|15|38|6 |1 | 9|-1|10|-1| 7|  | 0|       | |退出   |退出按钮|
