#ID|  TYPE|TP|LT|WD|HT|UP|DW|LT|RT|TB|HTK|FR|OTHER  |S|CAPTION| 描述|
 11|LABEL | 2| 4|60| 1|-1|-1|-1|-1|-1|   | 0|| | 批次                 时间                落地数据管理类
 7 |LABEL |20| 4|40| 1|-1|-1|-1|-1|-1|   | 0|| |当前位置: HSS监控>> checkpoint信息>>|| 
 9 |BOX   |21| 1|78|3 |-1|-1|-1|-1|-1|   | 1|| |||
 1 |BUTTON|22| 5|10|1 | 6|-1| 2| 2| 2|'1'| 0|| |1.查看|查看button|
 2 |BUTTON|22|16|14|1 | 6|-1| 1| 1|13|'q'| 0|| |q.退出|退出|
# 5 |BUTTON|22|31|10|1 | 6|-1| 2| 1| 1|'q'| 0|| |q.退出|退出|
 6 |LIST  | 3| 1|78|17|13| 1| 1| 1| 1|   | 1||0|      |主框架|
 12|LABEL | 1| 4|12|1 |-1|-1|-1|-1|-1|   | 0|| |时间过滤:||
 13|EDIT  | 1|16|30|1 | 1| 6|-1| 6| 6|   | 0|| ||时间|
