#ID|  TYPE|TP|LT|WD|HT|UP|DW|LT|RT|TB|HTK|FR|OTHER  |S|CAPTION| 描述|
 7 |LABEL |19| 1|40| 1|-1|-1|-1|-1|-1|   | 0|| |当前位置: 计费监控>> 模式切换>>|| 
 9 |BOX   |21| 1|78|3 |-1|-1|-1|-1|-1|   | 1|| |||
 1 |BUTTON|22| 5|10|1 | 6|-1| 5| 4| 4|'1'| 0|| |1.查看|查看button|
 4 |BUTTON|22|17|10|1 | 6|-1| 1| 8| 8|'2'| 0|| |2.提交|提交button| 
 8 |BUTTON|22|28|15|1 | 6|-1| 4| 5| 5|'3'| 0|| |3.单点模式|单点模式button|
 5 |BUTTON|22|44|10|1 | 6|-1| 8| 1|13|'q'| 0|| |q.退出|退出|
 6 |LIST  | 2| 1|78|17|13|17| 1|17|17|   | 1||0|      |主框架|
 12|LABEL | 1| 1| 7|1 |-1|-1|-1|-1|-1|   | 0|| |模式切换:||
 13|EDIT  | 1| 9|21|1 | 1| 6|-1| 6| 6|   | 0|| ||状态标识|
 16|LABEL |20| 1|12|1 |-1|-1|-1|-1|-1|   | 0|| |状态值:|
 17|EDIT  |20|10|68|1 | 6| 1| 6| 1| 1|   | 0|| ||NEW_STATE|  
