#ID|  TYPE|TP|LT|WD|HT|UP|DW|LT|RT|TB|HTK|FR|OTHER  |S|CAPTION| 描述|
 12|LABEL | 1| 4|12|1 |-1|-1|-1|-1|-1|   | 0|| |功能过滤:||
 13|EDIT  | 1|16|16|1 | 1| 1|-1|-1| 1|   | 0|| ||流程号|
 7 |LABEL |18| 4|50| 1|-1|-1|-1|-1|-1|   | 0| | |当前位置: hssmonitor>>计费监控>>|| 
#8 |LABEL |18|64| 8| 1|-1|-1|-1|-1|-1|   | 0| | |+下页  -上页|| 
 9 |BOX   |19| 1|78|4 |-1|-1|-1|-1|-1|   | 1| | ||
 1 |BUTTON|20| 5|12|1 |13|19| 4|10|10|'1'| 0| | |1.消息队列|消息队列button|
10 |BUTTON|20|18|12|1 |13|18| 1| 2| 2|'2'| 0| | |2.进程状态|进程状态button|
 2 |BUTTON|20|31|12|1 |13|17|10| 3| 3|'3'| 0| | |3.性能统计|性能统计button|
 3 |BUTTON|20|44|12|1 |13|15| 2| 5| 5|'4'| 0| | |4.参数|PAMbutton|
 5 |BUTTON|20|57|12|1 |13|-1| 3| 4| 4|'5'| 0| | |5.系统显示|SYSbutton|
 4 |BUTTON|20|70| 7|1 |13|-1| 5| 1|19|'q'| 0| | |q.退出|退出|
 19|BUTTON|21| 5|12|1 | 1|-1|15|18|18|'6'| 0| | |6.落地信息|checkpoint_but|
 18|BUTTON|21|18|12|1 |10|-1|19|17|17|'7'| 0| | |7.日志查看|日志_button|
 17|BUTTON|21|31|12|1 | 2|-1|18|15|15|'8'| 0| | |8.模式切换|模式_button|
 15|BUTTON|21|44|12|1 | 3|-1|17|19|13|'9'| 0| | |9.能力管理|能力管理button|
 6 |LIST  | 2| 1|78|16|-1| 1| 1| 4| 1|   | 1| |0|           |主框架|
