#ID|  TYPE|TP|LT|WD|HT|UP|DW|LT|RT|TB|HTK|FR|OTHER  |S|CAPTION| 描述|
 7 |LABEL |19| 1|40| 1|-1|-1|-1|-1|-1|   | 0|| |当前位置: 计费监控>> 参数管理>>|| 
 9 |BOX   |22| 1|78|3 |-1|-1|-1|-1|-1|   | 1|| |||
 1 |BUTTON|23| 5|10|1 | 6|-1| 5| 2| 2|'1'| 0|| |1.查看|查看button|
 2 |BUTTON|23|16|14|1 | 6|-1| 1| 3| 3|'2'| 0|| |2.新增|新增button|
 3 |BUTTON|23|31|14|1 | 6|-1| 2| 4| 4|'3'| 0|| |3.删除|删除button|
 4 |BUTTON|23|46|14|1 | 6|-1| 3| 5| 5|'4'| 0|| |4.提交|提交button| 
 5 |BUTTON|23|61|10|1 | 6|-1| 4| 1|13|'q'| 0|| |q.退出|退出|
 6 |LIST  | 2| 1|78|17|13|17| 1|17|17|   | 1||0|      |主框架|
 12|LABEL | 1| 1| 7|1 |-1|-1|-1|-1|-1|   | 0|| |段过滤:||
 13|EDIT  | 1| 9|21|1 | 1|15|-1|15| 6|   | 0|| ||段标识|
 14|LABEL | 1|31| 9|1 |-1|-1|-1|-1|-1|   | 0|| |参数过滤:|
 15|EDIT  | 1|41|36|1 | 1| 6|13|-1| 6|   | 0|| ||PARAM_ID| 
 16|LABEL |20| 1|12|1 |-1|-1|-1|-1|-1|   | 0|| |参数新值:|
 17|EDIT  |20|10|68|1 | 6|19| 6|19|19|   | 0|| ||NEW_PARAM_ID|  
 18|LABEL |21| 1|12|1 |-1|-1|-1|-1|-1|   | 0|| |生效日期:|
 19|EDIT  |21|10|68|1 |17| 1|17| 1| 1|   | 0|| ||NEW_eff_data|
