#ID|  TYPE|TP|LT|WD|HT|UP|DW|LT|RT|TB|HTK|FR|OTHER  |S|CAPTION| 描述|
 11|LABEL | 1| 7|60| 1|-1|-1|-1|-1|-1|   | 0| | |共享内存ID 名称                     状态         共有/已用||
 7 |LABEL |19| 4|40| 1|-1|-1|-1|-1|-1|   | 0| | |当前位置: 计费监控>> 共享内存>>|| 
#8 |LABEL |19|64| 8| 1|-1|-1|-1|-1|-1|   | 0| | |+下页  -上页|| 
 9 |BOX   |21| 1|78|3 |-1|-1|-1|-1|-1|   | 1| | ||
 1 |BUTTON|22| 5|10|1 | 6|-1| 5| 4| 4|'1'| 0| | |1.刷新|刷新button|
#4 |BUTTON|22|20|10|1 | 6|-1| 1| 5| 5|'2'| 0| | |2.删除|删除共享内存button| 
 5 |BUTTON|22|20|10|1 | 6|-1| 4| 1| 6|'q'| 0| | |q.退出|退出|
 6 |LIST  | 2| 1|78|17|-1| 1| 1| 5| 1|   | 1| |0|           |主框架|
