#ID|  TYPE|TP|LT|WD|HT|UP|DW|LT|RT|TB|HTK|FR|OTHER  |S|CAPTION| 描述|
 7 |LABEL |20| 4|40| 1|-1|-1|-1|-1|-1|   | 0|| |当前位置: 计费监控>> 系统信息>>|| 
 9 |BOX   |21| 1|78|3 |-1|-1|-1|-1|-1|   | 1|| |||
 1 |BUTTON|22| 6|14|1 | 6|-1| 5| 2| 2|'1'| 0|| |1.系统性能|系统性能button|
 2 |BUTTON|22|21|14|1 | 6|-1| 1| 3| 3|'2'| 0|| |2.磁盘空间|磁盘空间button|
 3 |BUTTON|22|36|14|1 | 6|-1| 2| 4| 4|'3'| 0|| |3.表空间|表空间button|
 4 |BUTTON|22|51|14|1 | 6|-1| 3| 1| 1|'q'| 0|| |q.退出|退出|
 6 |LIST  | 3| 1|78|17| 1| 1| 1| 1| 1|   | 1||0|      |主框架|
 12|LABEL | 1| 4|12|1 |-1|-1|-1|-1|-1|   | 0|| |系统信息:||
